{% extends "base.html" %} {% block content %}
<div style="margin: 3% 0">
  <form method="post">
    <div style="margin: 0 10%">
      <div class="forms-box">
        <div
          style="display: flex; width: 60%; flex-direction: column; gap: 15px"
        >
          <h2 style="text-align: center">{{title}}</h2>
          <hr class="dropdown-divider">
          {% csrf_token %} {% for field in form %}
          <div>
            <label for="{{field.name}}" class="form-label"
              >{{field.label}}</label
            >
            {{field}}
          </div>
          {% endfor %}
          <hr class="dropdown-divider">
        </div>
        
        <div class="d-grid gap-2 col-4 mx-auto">
          <input
            class="btn btn-success"
            style="margin-top: 10px"
            type="submit"
            value={{title}}
          />
          <a class="btn btn-info" style="margin-top: 10px" href="/">
            Regresar
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
