{% extends "base.html" %} {% block content %}
<div style="margin: 3% 10%">
  <div class="forms-box">
    <div style="display: flex; width: 60%; flex-direction: column; gap: 15px">
      <h2>Eliminar {{title}}</h2>
      <form method="post">
        {% csrf_token %}
        <span>¿Está seguro de querer eliminar "{{ object }}" ?</span>
        <br />
        <div class="d-grid gap-2 col-4 mx-auto" style="margin-top: 5%;">
          <input class="btn btn-danger" type="submit" value="Eliminar" />
          <a class="btn btn-info" style="margin-top: 10px" href="/"> Cancelar </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
